const path = require('path');

module.exports = {
    entry: {
        v3map: [path.resolve(__dirname, '../src/index.js')]
    },
    output: {
        path: path.resolve(__dirname, '../dist'),
        filename: '[name].bundle.js'
    },
    resolve: {
        modules: ['node_modules'],
        extensions: ['.js', '.json']
    },
    module: {
        rules: [
            {
                test: /\.(js|jsx)$/,
                use: {
                    loader: 'babel-loader',
                    options: {
                        presets: [[
                            "@babel/preset-env",
                            {
                                "useBuiltIns": "entry"
                            }
                        ]]
                    }
                }
            }
        ]
    },
    optimization: {
        minimize: true,
        splitChunks: {
            chunks: 'all',
            minSize: 20000,
            cacheGroups: {
                three: {
                    test: /[\\/]node_modules[\\/]three[\\/]/,
                    name() {
                      return "three";
                    },
                    reuseExistingChunk: true,
                    chunks: 'all',
                }
            }
        }
    }
}